$primary_color: #18181B;
$secondary_color: #F0380F;
$third_color: #FFFFFF;
$footer_color: #F3F3F3;

$background_img: "../assets/Hero.svg";

$primary_title_size: 52px;
$primary_title_size_mobile: 30px;
$text_size: 16px;


$breakpoint_tablet: 768px;